// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-custom1: #ff5733;
    --ion-color-custom1-rgb: 255,87,51;
    --ion-color-custom1-contrast: #ffffff;
    --ion-color-custom1-contrast-rgb: 255,255,255;
    --ion-color-custom1-shade: #e04e2e;
    --ion-color-custom1-tint: #ff6f4e;
  
    --ion-color-custom2: #33b5ff;
    --ion-color-custom2-rgb: 51,181,255;
    --ion-color-custom2-contrast: #ffffff;
    --ion-color-custom2-contrast-rgb: 255,255,255;
    --ion-color-custom2-shade: #2e9fe0;
    --ion-color-custom2-tint: #4eaaff;
  }
  